{% extends "base.html" %}

{% block page_content %}
<html>
  <head>
  </head>
	<body>
		<h2><b> Cesar Venzor</b></h2>
		<h3> PROFILE </h3>
		  <p> I am a self-taught junior Programmer, with a degree in Philosophy, and minor study in Mathematics. My pursuit in these fields is owed to a deep focus on logical frameworks and axioms, which I now covet in field of Computer and Data Science </p>
      <p> Studies in Philosophy taught me to approach analytical problems in logical, and systemic ways, in order to obtain clear and objective answers. In Philosophy, conceptual understanding was sought through the use of language. Studies in Math allowed me to also do this, in different manner, through the use of numbers. </p>
    <h3> SKILLS AND TECHNOLOGIES </h3>
      <p> Clear Python, and SQL code. Competent with Django, Flask for Python based WebApps. Basic descriptive statistics skills. Basic predictive modeling skills.Basic explanatory-diagnostic models and segmentation skills.
Basic knowledge of Algorithms, Data Types and Data Structures.
High verbal and written skills. Excellent with interpersonal customer relations and service. High ability to work fluently with groups, or as a single person.
Highly resourceful, with excellent problem-solving and critical-thinking skills. </p>
    <h3> PROJECTS </h3>
      <p>GITHUB @ KAESARX10
Yahoo Finance Scrapper: Created a small program that takes in a list of companies and returns a
data-frame of their stock prices, which can be analyzed and visualized.
Player Statistical Analysis: Analyzed and visualized soccer player dataset from Kaggle, then deployed it as a web based slide presentation.
Probability Games WebApp: Created small web-app with chance/ probability based games, such as dice and card games.</p>
    <h3> EDUCATION </h3>
      <p>University of Illinois Urbana-Champaign — Liberal Arts - Philosophy and Mathematics, 2012</p>
    <h3> EXPERIENCE </h3>
      <p>COMMERCIAL DRIVER 2017 - 2021
Driven commercial vehicles for various transport and intermodal companies, being responsible for the transport of valuable commercial, and or, dangerous/ hazardous materials and merchandize.
</p> <p>HEALTH INSURANCE BROKER 2015 - 2017
Licensed insurance broker for GoHealth inc. Provided personalized health insurance solutions from all major health insurance providers. Dealt with clients of various ages and backgrounds residing nation wide. Excelled at meeting sales quotas, and call quality standards.</p>
  </body>
</html>

{% endblock %}
