{% extends "base.html" %}

{% block page_content %}
<html>
  <head>
  </head>
	<body>
		<b> Cesar Venzor</b>
		<h1> PROFILE </h1>
		  <p> I am a self-taught junior Programmer, with a degree in Philosophy, and minor study in Mathematics. My pursuit in these fields is owed to a deep focus on logical frameworks and axioms, which I now covet in field of Computer and Data Science </p>
      <p2> Studies in Philosophy taught me to approach analytical problems in logical, and systemic ways, in order to obtain clear and objective answers. In Philosophy, conceptual understanding was sought through the use of language. Studies in Math allowed me to also do this, in different manner, through the use of numbers </p2>
    <h2> SKILLS AND TECHNOLOGIES </h2>
      <p3> Clear, and Efficient Python, and SQL code. Django, Flask for Python based WebApps. Mathematical acumen in Statistics, Linear Algebra, Calculus (Gradient Descent), and Discrete Mathematics. Knowledgable in Algorithms, Data Types and Data Structures. High verbal communication skills. Supplemented by those in written form. Ability to work fluently in group, or in a single person setting. Problem solving, and critical thinking as a matter of operation. </p3>
    <h3> PROJECTS </h3>
    <h4> EDUCATION </h4>
    <h5> EXPERIENCE </h5>
  </body>
</html>

{% endblock %}
